Repository nugraph/nugraph, pull requests merged in 2024-08, with the labels that each got.

#86 added code to materialize predicted instance labels
  nugraph/nugraph/models/nugraph3/decoders/instance.py
Labels: nugraph3

#89 restructure graph object
  nugraph/nugraph/models/nugraph3/core.py
  nugraph/nugraph/models/nugraph3/decoders/event.py
  nugraph/nugraph/models/nugraph3/decoders/filter.py
  nugraph/nugraph/models/nugraph3/decoders/instance.py
  nugraph/nugraph/models/nugraph3/decoders/semantic.py
  nugraph/nugraph/models/nugraph3/encoder.py
  nugraph/nugraph/models/nugraph3/nugraph3.py
  nugraph/nugraph/util/hierarchical_edges.py
  pynuml/pynuml/process/hitgraph.py
Labels: nugraph3

#91 use weights and biases for logging
  notebooks/tensorboard.ipynb
  notebooks/train.ipynb
  nugraph/nugraph/models/nugraph3/decoders/event.py
  nugraph/nugraph/models/nugraph3/decoders/filter.py
  nugraph/nugraph/models/nugraph3/decoders/instance.py
  nugraph/nugraph/models/nugraph3/decoders/semantic.py
  nugraph/nugraph/models/nugraph3/decoders/vertex.py
  nugraph/nugraph/models/nugraph3/nugraph3.py
  scripts/train.py
Labels: feature

#92 rename vertex metric to make grouping easier in wandb
  nugraph/nugraph/models/nugraph3/decoders/vertex.py
Labels: bug
